html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  position: relative;
}

div#game-overlay {
  background-image: url('../images/overlay.png');
  height: 100%;
  width: 100%;
}
