@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.bo7 .light-1,
.bo7 .light-2,
.bo7 .light-3,
.bo7 .light-4,
.bo5 .light-1,
.bo5 .light-2,
.bo5 .light-3,
.bo3 .light-1,
.bo3 .light-2 {
  display: block !important;
}

.lights-1-3 .light-1,
.lights-2-3 .light-1,

.lights-1-5 .light-1,
.lights-2-5 .light-1,
.lights-3-5 .light-1,

.lights-1-7 .light-1,
.lights-2-7 .light-1,
.lights-3-7 .light-1,
.lights-4-7 .light-1 {
  background: #FEFEFA !important;
}

.lights-2-3 .light-2,

.lights-2-5 .light-2,
.lights-3-5 .light-2,

.lights-2-7 .light-2,
.lights-3-7 .light-2,
.lights-4-7 .light-2  {
  background: #FEFEFA !important;
}

.lights-3-5 .light-3,

.lights-3-7 .light-3,
.lights-4-7 .light-3  {
  background: #FEFEFA !important;
}

.lights-4-7 .light-4  {
  background: #FEFEFA !important;
}

#size-2k {
  width: 100%;
  position: absolute;
  overflow:hidden;
}

#size-2k #game {
  position:fixed;
  left: 50%;
}

#size-2k #game #teams {
  position: relative;
  left: -50%;

  background-image: url('../images/game-overlay-2k.png');
  background-repeat: no-repeat;
  background-position: top center;

  width: 950px;
  height: 110px;
}

#size-2k #game .team {
  position: absolute;
  top: 8px;
  bottom: 45px;
}

#size-2k #game .team-info {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
}

#size-2k #game .score {
  display: none;
}

#size-2k #game .name {
  color: #FEFEFA;

  line-height: 48px;
  font-size: 28px;
  padding: 0 20px;
}

#size-2k #game .lights {
  position: absolute;
  bottom: 0;

  height: 10px;
  width: 100%;
}

#size-2k #game .light {
  display: none;
  width: 50px;
  height: 4px;
  margin-top: 3px;
  background: #130f30;
  border-radius: 2px;
}

#size-2k #game #team-a {
  left: 0;
  right: 50%;
}

#size-2k #game #team-a .team-info {
  right: 120px;
  left: 70px;

  text-align: right;
}

#size-2k #game #team-a .lights {
  right: 5px;
  left: 5px;
}

#size-2k #game #team-a .light {
  float: right;
  margin-right: 4%;
}

#size-2k #game #team-b {
  left: 50%;
  right: 0;
}

#size-2k #game #team-b .team-info {
  right: 70px;
  left: 120px;

  text-align: left;
}

#size-2k #game #team-b .lights {
  left: 5px;
  right: 5px;
}

#size-2k #game #team-b .light {
  float: left;
  margin-left: 4%;
}
